.sticky {
  position: sticky;
  top: 0;
  background-color:#ffffff
}
/* headings */
h1 {
    text-align: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.3em;
    color: #2e5339;
  }

  h2 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    color: #2e5339;
  }
  
  h3 {
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    color: #2e5339;
  }

  p {
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8em;
    color: #2e5339;
  }

  p a {    
    color: #2e5339;
  }
  p a:hover:not(.active) {
    color: #ffa69e;
  }
/* navigation */
nav {
  display: block;
}

/* sections */
.sections {
  color: #2e5339;
  background-color: #fff;
}

/* table style*/

  table {
    text-align: center;
    margin: .3em 3em;
    width: 70vw;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  th {
    padding: .1em;
  }
  
  td {
    padding-left: .1em;
    padding-right: .1em;
  }
  
  .boxright {
    text-align: right;
    width: 80%;
    padding: 20px;
  }
  .right {
    text-align: right;
  }
  .boxleft {
    text-align: left;
    width: 80%;
    padding: 20px 20px 20px 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .left {
    text-align: left;
  }

  /* 2 column layout */
  .flex {
    display:flex;
    flex-shrink:1;
  }
  .row {
    display: flex;
  }
  
  .column {
    width: 45vw;
    vertical-align:middle;
    display:inline-block;

  }
  .column2 {
    flex: 25%;
  }
  .column3 {
    width:30%;
    vertical-align:middle;
    display:inline-block;
  }
  .floatright {
    float:right;
  }
  .center {
    display: block;
    margin-left:inherit;
    margin-right: inherit;
    width: 20%;
  }
  .column4 {
    width: 30vw;
    vertical-align:middle;
    display:inline-block;
  }

  .crop {
    height:35vh;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .crop img {
    height: 35vh;
    text-align: center;
    display: block;
  }
  @media screen and (max-width: 800px) {
    .row {
      display:block;
    }
    .column {
      width:100%;
    }
    .column2 {
      width:100%;
      text-align:center;
      display:block;
      margin: 0px auto;
    }
    .column3 {
      width: 100%;
    }
    .floatright {
      float:unset;
      display:block;
      margin:0px auto;
    }
    .column4 {
      width:100%;
    }
    .boxleft {
      text-align:justify;
      width:80%;
    }
  }

  /* IMAGE HOVER */
.image {
  opacity: 1;
  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.column:hover .image {
  opacity: 0.5;
}

.column4:hover .image {
  opacity: 0.5;
}


  /* further styles */
  .centerCell {
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8em;
    color: #2e5339;
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  .centerCell img {
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    max-width:90vw;
    max-height:60vh;
  }
  .image-fit {
    display:inline-block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    max-width:90vw;
    max-height:60vh;
  }
  @media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
    .centerCell {
      text-align: center;
      font-family:'Courier New', Courier, monospace;
      font-size: 0.8em;
      color: #2e5339;
      display: block;
      margin-left:auto;
      margin-right:auto;
      max-width:90vw;
      max-height:60vh;
    }
    .centerCell img {
      display:block;
      text-align:center;
      margin:3px;
      overflow:hidden;
      ;
    }
    }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #2e5339;
    text-align: center;
    padding: 0.1em 1em;
  }
  
  li a:hover:not(.active) {
    color: #ffa69e;
  }
  
  li a.active {
    color: #2e5339;
    font-weight: bold;
    background-color: #fff;
  }
 
  .zoom {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    transition: transform .5s; /* Animation */
    max-height: 25vh;
  }
  
  .zoom:hover {
    transform: scale(2.0);
    max-width: 90vw; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    max-height: 50vh
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }