.sticky {
  position: sticky;
  top: 0;
  background-color:#ffffff;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color:#2e5339;
}
@font-face {
  font-family: 'ibm_plex_monoregular';
  src: url('/IBM_Plex_Mono/ibmplexmono-regular-webfont.woff2') format('woff2'),
       url('/IBM_Plex_Mono/ibmplexmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
font-family: 'ibm_plex_monomedium';
src: url('/IBM_Plex_Mono/ibmplexmono-medium-webfont.woff2') format('woff2'),
     url('/IBM_Plex_Mono/ibmplexmono-medium-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;

}


/* headings */
  h1 {
    text-align: right;
    font-family:'ibm_plex_monomedium', Courier, monospace;
    font-size: 1.3em;
    color: #2e5339;
    margin:1px;
  }

  h2 {
    text-align: center;
    font-family:'ibm_plex_monomedium', Courier, monospace;
    font-size: 1em;
    color: #2e5339;
  }
  
  h3 {
    text-align: left;
    font-family:'ibm_plex_monomedium', Courier, monospace;
    font-size: 1em;
    color: #2e5339;
  }

  label, input {
    font-family:'ibm_plex_monoregular', Courier, monospace;
    font-size: 0.8em;
    color: #2e5339;
  }

  h4 {
    text-align: center;
    font-family:'ibm_plex_monomedium', Courier, monospace;
    font-size: 3em;
    margin-bottom: 0em;
    color: #2e5339;
  }

  p {
    font-family:'ibm_plex_monoregular', Courier, monospace;
    font-size: 0.8em;
    color: #2e5339;
  }

  p a {    
    color: #2e5339;
    text-decoration:solid;
  }
  p a.active {
    font-weight: bold;
    text-decoration:solid;
  }
  p a:hover:not(.active) {
    color: #ffa69e;
    text-decoration:solid;
  }
/* navigation */
nav {
  display: block;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  font-family: 'ibm_plex_monoregular', Courier, monospace;
  font-style: italic;
}

li {
  float: right;
}

li a {
  display: block;
  color: #2e5339;
  text-align: center;
  padding: 0.1em 0.5em;
  text-decoration:solid;
}

li a:hover:not(.active) {
  color: #ffa69e;
  text-decoration:solid;
}

li a.active {
  color: #2e5339;
  font-weight: bold;
  text-decoration:underline;
}

/* sections */
.sections {
  color: #2e5339;
  background-color: #fff;
}

/* table style*/

  table {
    text-align: center;
    margin: .3em 3em;
    width: 70vw;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  th {
    padding: .1em;
  }
  
  td {
    padding-left: .1em;
    padding-right: .1em;
  }
  
  .boxright {
    text-align: right;
    width: 80%;
    padding: 20px;
  }
  .right {
    text-align: right;
  }
  .boxleft {
    text-align: left;
    width: 80%;
    padding: 20px 20px 20px 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .left {
    text-align: left;
  }

  /*IMPORT FROM STYLESHEET2*/
  .full {
    width: 100%;
  }
  .half {
    display:table-cell;
    width: 50%;
  }
  .left { 
    float: left;
  }
  .right {
    float: right;
  }  
  /* column layout */
  .flex {
    display:flex;
    flex-shrink:1;
  }
  .row:after {
    display: flex;
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    display: table;
  }
  .column2 {
    width: 25%;
    float:left;
    vertical-align:bottom;
    margin-bottom: 1em;
  }
  .column3 {
    width:25%;
    float:left;
    vertical-align:middle;
    text-align:justify;
  }
  .floatright {
    float:right;
    padding:1em;
    align-content: flex-end;
  }
  .center {
    display: block;
    margin-left:inherit;
    margin-right: inherit;
    width: 20%;
  }
  .column4 {
    width: 33%;
    float:left;
    vertical-align:bottom;
    margin-bottom: 1em;
  }

  .crop {
    height:35vh;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .crop img {
    height: 35vh;
    text-align: center;
    display: block;
  }
  @media screen and (max-width: 800px) {
    .row {
      display:block;
    }
    .column {
      width:100%;
    }
    .column2 {
      width:100%;
      text-align:center;
      display:block;
      margin: 0px auto;
    }
    .column3 {
      width: 100%;
    }
    .floatright {
      float:unset;
      display:block;
      margin:0px auto;
    }
    .column4 {
      width:100%;
    }
    .boxleft {
      text-align:justify;
      width:80%;
    }
  }

  /* IMAGE HOVER */
.image {

  text-align: center;
  display: block;
  margin-left:auto;
  margin-right:auto;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.column:hover .image {
  opacity: 0.5;
}

.image:hover {
  opacity: 0.5;
}


  /* further styles */
  .centerCell {
    font-family:'IBM Plex Mono', Courier, monospace;
    font-size: 0.8em;
    color: #2e5339;
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
  .centerCell img {
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    max-width:90vw;
    max-height:60vh;
  }
  .image-fit {
    display:inline-block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    max-width:90vw;
    max-height:60vh;
  }
  .responsive {
    margin: 3px;
    display: inline-table;
    text-align:center;
    height: 24.99999%;
  }
  @media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .centerCell {
      text-align: center;
      font-family:'IBM Plex Mono', Courier, monospace;
      font-size: 0.8em;
      color: #2e5339;
      display: block;
      margin-left:auto;
      margin-right:auto;
      max-width:90vw;
      max-height:60vh;
    }
    .centerCell img {
      display:block;
      text-align:center;
      margin:3px;
      overflow:hidden;
      ;
    }
    .responsive {
      height: 49.99999%;
      margin: 3px;
    }
    .image-fit {
      display:inline-block;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      max-width:30vw;
    }
    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
    .centerCell {
      text-align: center;
      font-family:'IBM Plex Mono', Courier, monospace;
      font-size: 0.8em;
      color: #2e5339;
      display: block;
      margin-left:auto;
      margin-right:auto;
      max-width:90vw;
      max-height:60vh;
    }
    .centerCell img {
      display:block;
      text-align:center;
      margin:3px;
      overflow:hidden;
      ;
    }
    .image-fit {
      display:inline-block;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      max-width:30vw;
    }
    .responsive {
      height: 80%;
      margin: 3px;
    }
    }
  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-style:italic;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #2e5339;
    text-align: center;
    padding: 0.1em 0.5em;
    text-decoration:solid;
  }
  
  li a:hover:not(.active) {
    color: #ffa69e;
    text-decoration:solid;
  }
  
  li a.active {
    color: #2e5339;
    font-weight: bold;
    background-color: #fff;
    text-decoration:underline;
  }
 
  .zoom {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
    transition: transform .5s; /* Animation */
    max-height: 25vh;
  }
  
  .zoom:hover {
    transform: scale(2.0);
    max-width: 90vw; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    max-height: 50vh
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }